
<style>

/*@import url(../style.css?aea6f0a);*/

#circle circle {
  fill: none;
  pointer-events: all;
}

.group path {
  fill-opacity: .5;
}

path.chord {
  stroke: #000;
  stroke-width: .25px;
}

#circle:hover path.fade {
  display: none;
}

.arc {
  stroke
}

.group[title]:hover:after {
  color: #ff0000;
  font-size: 25px;
}

</style>



<h1>TIG Friends</h1>

<p>Mouseover to focus on rides to or from a single neighbor&shy;hood.

<p>The thickness of links be&shy;tween neighborhoods encodes the relative frequency of rides between two neighborhoods: thicker links represent more frequent rides.

<p>Links are directed: for exam&shy;ple, while 2.2% of rides go from South of Market to Downtown, only 1.2% go in the opposite direction. Links are colored by the more fre&shy;quent origin.

<p>Scroll down for more!
<section>
<div class=frame>
  <div class="col2" id="visualization">

  </div>

  <div class="col3">
    <table>
        <tr>
          <th colspan = "3">
            <h3 id = "region_name"></h3>
          </th>
        </tr>
        <tr>
          <th>Region</th>
          <th>To</th>
          <th >From</th>
        </tr>
        <tr id = 'r1'>
          <td class = 'name'>Africa</td>
          <td class = "to"></td>
          <td class = "from"></td>
        </tr>
        <tr id = 'r2'>
          <td class = 'name'>Asia</td>
          <td class = "to"></td>
          <td class = "from"></td>
        </tr>
        <tr id = 'r3'>
          <td class = 'name'>Oceana</td>
          <td class = "to"></td>
          <td class = "from"></td>
        </tr>
        <tr id = 'r4'>
          <td class = 'name'>Europe</td>
          <td class = "to"></td>
          <td class = "from"></td>
        </tr>
        <tr id = 'r5'>
          <td class = 'name'>North America</td>
          <td class = "to"></td>
          <td class = "from"></td>
        </tr>
        <tr id = 'r6'>
          <td class = 'name'>South America</td>
          <td class = "to"></td>
          <td class = "from"></td>
        </tr>
        <tr id = 'r7'>
          <td class = 'name'>Polar Regions</td>
          <td class = "to"></td>
          <td class = "from"></td>
        </tr>
        <tr id = 'r8'>
          <td class = 'name'>Central America and Caribbean</td>
          <td class = "to"></td>
          <td class = "from"></td>
        </tr>
        <tr id = 'r9'>
          <td class = 'name'>Middle East and North Africa</td>
          <td class = "to"></td>
          <td class = "from"></td>
        </tr>
    </table>
<button id="toggle">Display the numbers as numbers!</button>
<button id="friendship_or_inspiration">Display the inspiration visualization!</button>
  </div>
</div>
</section>