<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<meta charset="utf-8">
<title>TIG Friends</title>
<style>

@import url(../style.css?aea6f0a);

#circle circle {
  fill: none;
  pointer-events: all;
}

.group path {
  fill-opacity: .5;
}

path.chord {
  stroke: #000;
  stroke-width: .25px;
}

#circle:hover path.fade {
  display: none;
}

</style>



<h1>TIG Friends</h1>

<aside>Mouseover to focus on rides to or from a single neighbor&shy;hood.

<p>The thickness of links be&shy;tween neighborhoods encodes the relative frequency of rides between two neighborhoods: thicker links represent more frequent rides.

<p>Links are directed: for exam&shy;ple, while 2.2% of rides go from South of Market to Downtown, only 1.2% go in the opposite direction. Links are colored by the more fre&shy;quent origin.

<p>Scroll down for more!

<div>
  <% render "visualization" %>
</div>

<table>
    <tr>
        <td>R1</td>
        <td id="r1to"></td>
        <td id="r1from"></td>
    </tr>
    <tr>
      <td>r2</td>
      <td id="r2to"></td>
      <td id="r2from"></td>
    </tr>
    <tr>
      <td>r3</td>
      <td id="r3to"></td>
      <td id="r3from"></td>
    </tr>
    <tr>
      <td>r4</td>
      <td id="r4to"></td>
      <td id="r4from"></td>
    </tr>
    <tr>
      <td>r5</td>
      <td id="r5to"></td>
      <td id="r5from"></td>
    </tr>
    <tr>
      <td>r6</td>
      <td id="r6to"></td>
      <td id="r6from"></td>
    </tr>
    <tr>
      <td>r7</td>
      <td id="r7to"></td>
      <td id="r7from"></td>
    </tr>
    <tr>
      <td>r8</td>
      <td id="r8to"></td>
      <td id="r8from"></td>
    </tr>
    <tr>
      <td>r9</td>
      <td id="r9to"></td>
      <td id="r9from"></td>
    </tr>
</table>

</body>
</html>